<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <main>
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content">
                        <h2 class="title is-3"><%= blog.title %></h2>
                        <p><%= blog.body %></p>
                    </div>
                    
                    <a href="/blogs/<%= blog._id %>/edit"><input class="button" type="submit" value="Edit post" /></a>

                        <form action="/blogs/<%= blog._id %>?_method=delete" method="post" class="is-pulled-right">
                            <input class="button" type="submit" value="Delete post" />
                        </form>
                    </div>
                <%- include("../partials/bio") %>

            </div>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>